
.cards{
    margin-top: 5rem;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    height: 90vh;
}
.cards div:nth-child(odd){
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards div{
    border-radius: 10px;
    height: 470px;
    width: 390px;
    
}
.cards div h3{
    font-family: 'Rubik', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 2rem;
}
.cards div p{
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.3125rem;
    text-align: center;
    width: 16.375rem;
    height: 5.25rem;
    margin: auto;

}
.bgImage{
    background-image: url(./images/Rectangle\ 6.png);
    background-size: cover;
    background-position: center;
    height: 470px;
    width: 390px;
}
.bgImage2{
    background-image: url(./images/Rectangle\ 8.png);
    background-size: cover;
    background-position: center;
    height: 470px;
    width: 390px;
}
.bgImage3{
    background-image: url(./images/Rectangle\ 10.png);
    background-size: cover;
    background-position: center;
    height: 470px;
    width: 390px;
}


@media(max-width: 600px){
    .container{
        margin-top: 2rem;
    }
    .cards{
        margin-top: 1rem;
        display: grid;
        grid-template-columns:repeat(1,1fr);
        gap: 10px;
        height: 90vh;
    }
    .card{
        border: solid gray 1px;
        margin-bottom: 5rem;
        box-shadow: 0px 5px 29px 0px rgba(148,148,148,0.6);
-webkit-box-shadow: 0px 5px 29px 0px rgba(148,148,148,0.6);
-moz-box-shadow: 0px 5px 29px 0px rgba(148,148,148,0.6);
    }
    .cards div{
        border-radius: 10px;
        height: 400px;
        width: 320px;
        
    }
}